body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: var(--text-muted);
}

h1,
h2,
h3,
ul,
p {
    margin: 0px;
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --background-orange: #fff1db;
    --primary-orange: #ff6f3c;
    --light-orange: #f4a261;
    --primary-green: #4caf50;
    --primary-gray: #2a2d34;
    --primary-white: #f7f7f7;
    --text-muted: #282a2c;
}
